<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>How i get my gmail password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/simplebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/daterangepicker.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app-light.css')}}" id="lightTheme">
    <script src="{{ url_for('static', filename='js/givt.js') }}"></script>
  </head>
  <body class="vertical  light rtl ">
    <div class="wrapper">
      <main role="main" class=>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row align-items-center my-4">
                <div class="col">
                  <h2 class="h3 mb-0 page-title">&nbsp;استخراج كلمة المرور الخاصة بحساب Gmail</h2>
                </div>
                <div class="col-auto">
                  <a href="{{url_for('auth.login')}}" class="btn btn-secondary">رجوع</a>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body text-center">
                      <div class="avatar avatar-lg mt-4">
                        <img src="{{url_for('static', filename='image/gmail_password_extracter/1.png')}}" class="avatar-img w-100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body text-center">
                      <div class="avatar avatar-lg mt-4">
                        <img src="{{url_for('static', filename='image/gmail_password_extracter/2.png')}}" class="avatar-img w-100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body text-center">
                      <div class="avatar avatar-lg mt-4">
                        <img src="{{url_for('static', filename='image/gmail_password_extracter/3.png')}}" class="avatar-img w-100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body text-center">
                      <div class="avatar avatar-lg mt-4">
                        <img src="{{url_for('static', filename='image/gmail_password_extracter/4.png')}}" class="avatar-img w-100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body text-center">
                      <div class="avatar avatar-lg mt-4">
                        <img src="{{url_for('static', filename='image/gmail_password_extracter/5.png')}}" class="avatar-img w-100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .row -->
        </div>
      </main>
    </div>

  </body>
</html>