<div class="">
    <div class="aHl"></div>
    <div id=":ox" tabindex="-1"></div>
    <div id=":o7" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc5NDEzODg2MzY4Mzg2NjY0NCJd; 4:WyIjbXNnLWY6MTc5NDEzODg2MzY4Mzg2NjY0NCJd">
        <div id=":o8" class="a3s aiL msg897955588008113623"><u></u>
            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody>
                    <tr>
                        <td width="100%" align="center">
                            <table border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse">
                                <tbody>
                                    <tr>
                                        <td width="1260" align="center">
                                            <div style="max-width:630px;margin:0 auto" dir="rtl" bgcolor="#ffffff">
                                                <table border="0" cellspacing="0" cellpadding="0" align="center" id="m_897955588008113623email_table" style="border-collapse:collapse;max-width:630px;margin:0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td id="m_897955588008113623email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="1" colspan="3" style="line-height:1px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px" colspan="3">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td width="32" align="left" valign="middle" style="height:32;line-height:0px"><img width="32" src="https://ci3.googleusercontent.com/meips/ADKq_NacJ9wHliM1aL0wLV18tpwswFycsJKAjch2-AmGiIWKPZHbxhJsjngSK7Za7fBRfAuMAvgEfp8b9iyIERyhMpdx-oW3yflLbPUwyZr4QYRlOic=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/ZirYDPWh0YD.png" height="32" style="border:0" class="CToWUd" data-bit="iit"></td>
                                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                                            <td width="100%"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:19px;line-height:32px;color:#1877f2"></span></td>
                                                                                        </tr>
                                                                                        <tr style="border-bottom:solid 1px #e5e5e5">
                                                                                            <td height="15" style="line-height:15px" colspan="3">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td height="20" style="line-height:20px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="m_897955588008113623mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">مرحبًا &rlm;&lrm;{{_username}}&lrm;&rlm;،</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="m_897955588008113623mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">الهدف من هذا إعلامك بأنه تمت إعادة تعيين كلمة السر الخاصة بك.</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="m_897955588008113623mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823"><strong>معلومات حول هذا التغيير</strong></span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr style="height:44px;vertical-align:center">
                                                                                                            <td><img src="https://ci3.googleusercontent.com/meips/ADKq_Nb3tsrH0dbDK96bV0ImWOle6zSIX-jE9NIpXEfgT4ZmhvSEAFripnDkpyz5KHyHpx9fdtU3vvDZW1fG5lqqaNmnUxTPc8NuZ8_ACwzcysdG86Y=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/EYwma6hBA2v.png" style="border:0" class="CToWUd" data-bit="iit"></td>
                                                                                                            <td>بالقرب من &rlm;&rlm;&lrm;&lrm;&rlm; &rlm;المملكة العربية السعودية&rlm;&rlm;</td>
                                                                                                        </tr>
                                                                                                        <tr style="height:44px">
                                                                                                            <td><img src="https://ci3.googleusercontent.com/meips/ADKq_NYKoGpf2UDpH7GoIyzjR6vYrqBUszz0vAS3h6TYCeJSrF2Wn4qDK7hnH-I81oCgVaYByUZShGto5ApxNK--zHS1o3mGX692hALVv-Gf_DFaA2c=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/Ve5FEXFHw7A.png" style="border:0" class="CToWUd" data-bit="iit"></td>
                                                                                                            <td>Chrome, Windows</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td height="7" style="line-height:7px">&nbsp;</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="middle"><a href="{{_link}}" style="color:#1b74e4;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q={{_link}}">
                                                                                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="border-collapse:collapse;border-radius:6px;text-align:center;display:block;background:#1877f2;padding:8px 20px 8px 20px"><a href="{{_link}}" style="color:#1b74e4;text-decoration:none;display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?q={{_link}}">
                                                                                                                                        <center>
                                                                                                                                            <font size="3"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;font-weight:500;font-family:Roboto-Medium,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:17px">لم&nbsp;أكن&nbsp;أنا</span></font>
                                                                                                                                        </center>
                                                                                                                                    </a></td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </a></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td height="8" style="line-height:8px">&nbsp;</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td height="13" style="line-height:13px">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="m_897955588008113623mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">إذا كنت الشخص المعني، فلا يتعين عليك القيام بأي شيء.</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="m_897955588008113623mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">شكرًا،<br>فريق أمان فيسبوك</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="15" style="line-height:15px">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                        <tr style="border-top:solid 1px #e5e5e5">
                                                                                            <td height="19" style="line-height:19px">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#8a8d91;line-height:16px;font-weight:400">
                                                                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;color:#8a8d91;text-align:center;font-size:12px;font-weight:400;font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="center" style="font-size:12px;font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;color:#8a8d91;text-align:center;font-weight:400;padding-bottom:6px">من</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="font-size:12px;font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;color:#8a8d91;text-align:center;font-weight:400;padding-top:6px;padding-bottom:6px"><img width="74" alt="Meta" height="22" src="https://ci3.googleusercontent.com/meips/ADKq_Nb2p5H1tyPjVyO_bdMxiyUBxnAltB3YK4byj_Mj1Koz2TQwTJykFN8BwEryaMSk-7Aj4hEk62-rmhhRsc-sKopwgBueSg=s0-d-e1-ft#https://facebook.com/images/email/meta_logo.png" style="border:0" class="CToWUd" data-bit="iit"></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="font-size:12px;font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;color:#8a8d91;text-align:center;font-weight:400;padding-top:6px;padding-bottom:6px">© Facebook. Meta Platforms, Inc., Attention: Community Support, 1 Meta Way, Menlo Park, CA 94025</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="font-size:12px;font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;color:#8a8d91;text-align:center;font-weight:400;padding-top:6px">تم إرسال هذه الرسالة إلى &rlm;&lrm;<a style="color:#1b74e4;text-decoration:none" href="mailto:{{_email}}" target="_blank">{{_email}}</a>&lrm;&rlm;. <br>للمساعدة في الحفاظ على أمان حسابك، يرجى عدم إعادة توجيه رسالة البريد الإلكتروني هذه. &rlm;<a style="color:#1b74e4;text-decoration:none" href="https://www.facebook.com/help/213481848684090/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/help/213481848684090/&amp;source=gmail&amp;ust=1711324891130000&amp;usg=AOvVaw2EYdxsCfF_9JfY-T0LbmFr">تعرف على المزيد</a>&rlm;</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="10" style="line-height:10px">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><span><img src="https://ci3.googleusercontent.com/meips/ADKq_Nbv_hn6et5cizQ547-05uHcScsyh6X3mWHKiHXsY9IOapQXznLLskkdoXpTRxb7E5SA0iI2pDrjbanySfz2uP_S3FieQNu5An2gUXMZo0zX8K86bAKcgf65XmzCpqToB1aqrBkyFX0hAQTNljx1VgJ2borUmBQ=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=6142a90d6e089G5af6b6b10aafG6142ada6ce35bG18e" style="border:0;width:1px;height:1px" class="CToWUd" data-bit="iit"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL">

            </div>
        </div>
    </div>
    <div class="WhmR8e" data-hash="0"></div>
</div>